* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #FFF7ED;
}

.site--layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  padding: 2rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}

.nav--home {
  font-size: 1.5rem;
  color: black;
}

.nav--right,
.host--layout--nav {
  font-size: 1.2rem;
  text-decoration: none;
  display: flex;
  gap: 1.2rem;
}

.nav--right > a,
.host--layout--nav > a {
  color: #4D4D4D;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: black;
}

.active--link {
  font-weight: bold;
  text-decoration: underline;
  color: #161616;
}

footer {
  background-color: #161616;
  color: white;
  padding: 1.5rem;
  text-align: center;
  width: 100%;
  margin-top: auto;
}

/* HOME */
.home--container {
  color: white;
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.4), 
    rgba(0, 0, 0, 0.4)
  ),
  url(./assets/images/home-hero.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home--content {
  padding: 2rem;
}

.home--button,
.van--detail--button {
  background-color: #FF8C38;
  color: white;
  height: 2.5rem;
  width: 100%;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 2.2rem;
  cursor: pointer;
}

/* ABOUT */
.about--img {
  max-width: 100%;
}

.about--content {
  padding: 0 1.5rem;
  margin-bottom: 3rem;
}

.about--cta {
  background-color: #FFCC8D;
  border-radius: 7px;
  padding: 1.5rem;
  margin: 2rem;
}

.about--cta--button {
  border: none;
  border-radius: 10px;
  background-color: black;
  color: white;
  padding: 1rem;
  font-weight: 600;
  font-size: 1rem;
}

/* VAN */
.vans--container > h1 {
  margin-left: 2rem;
}

.vans--types {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  max-width: 500px;
}

.vans--types > a,
.van--detail--link > a {
  text-decoration: underline;
  cursor: pointer;
  color: #4D4D4D
}

.vans--types > a:hover {
  color: black;
}

.type {
  background-color: #fde8cd;
  color: #917e66;
  font-weight: 600;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  user-select: none;
}

.type:hover,
.selected--type {
  background-color: #ebc28c;
}

.vans--list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.van {
  padding: 1.5rem;
  max-width: 800px;
}

.van--link {
  color: black;
}

.van--link > img {
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.van--info {
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 57px;
}

.van--price--day {
  font-weight: 100;
  font-size: 0.8rem;
  text-align: end;
}

.van--type, 
.van--detail--type {
  color: white;
  border-radius: 5px;
  padding: 0.5rem;
  text-align: center;
  width: 30%;
  position: absolute;
  bottom: 0;
  user-select: none;
}

.simple {
  background-color: #E17654;
}

.rugged {
  background-color: #115E59;
}

.luxury {
  background-color: black;
}

/* VAN DETAIL */
.van--detail--link {
  margin-top: 2rem;
  margin-left: 2rem;
  font-weight: 600;
}

.van--detail--container {
  max-width: 1000px;
  padding: 1.7rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.van--detail--img {
  max-width: 100%;
}

.van--detail--type {
  position: unset;
  width: 100px;
  margin-top: 0.3rem;
}

.van--detail--button {
  margin-top: 0;
  height: 2.8rem;
  font-size: 1.2rem;
}

.van--detail--price {
  font-weight: 600;
  font-size: 1.5rem;
}

.van--detail--price > span {
  font-weight: 100;
  font-size: 1.2rem;
}

.loading {
  font-family: monospace;
  font-size: 2rem;
  position: absolute;
  top: 40%;
  left: 40%;
}

/* HOST */
.host--layout--nav {
  padding: 2rem 1.5rem;
}